/*NAVBAR*/
#navbar {
    position: absolute;
    top: 5%;
    left: 44.2%;
    max-width: 50%;
    height: auto;
}

#navbarDua {
    position: absolute;
    top: 5%;
    left: 85%;
    max-width: 100%;
    max-height: auto;
}

#navbarFont {
    font-family: Cambria;
    font-size: 22px;
    text-decoration: none;
    color: black;
}
/*LOGO*/
#imgLogoTopLeft {
    position: absolute;
    margin-top: 25px;
    margin-left: 85px;
    max-width: 50%;
    height: auto;
    object-position: left top;
}

#opening {
    position: absolute;
    top: 17.5%;
    left: 25%;
    max-width: 50%;
    height: auto;

    transform: all 0.3s;
}

#opening:hover {
    transform: translateY(-10px);
}

/*FONTS*/
#title {
    color: white;
}

/*COLORS*/
#bgColor {
    background-color: #e4e1d6;
}

/*NAVIGATIONS*/
#navigations {
    margin-top: 60px;
    margin-left: 85px;
    object-position: left top;
}

#navFont {
    font-family: Cambria;
    font-size: 48px;
    text-decoration: none;
    color: black;
}

/*CONTENT*/
#imgContent {
    position: absolute;
    top: 10%;
    left: 55%;
    max-width: 100%;
    max-height: auto;
}

#fontContent {
    position: absolute;
    top: 16%;
    left: 41.5%;
    max-width: 100%;
    max-height: auto;
}

/*BODY*/
#body{
    height: 100vh;
    width: 100vw;
    margin: 0rem;
    overflow: hidden;
}

#row {
    position: absolute;
    top: 28%;
    left: 15%;
    max-width: 100%;
    max-height: auto;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none; /* -- Prevent image highlighting -- */
  }
  
  #image-track > .image {
    width: 40vmin;
    height: 53vmin;
    object-fit: cover;
    object-position: 100% center;
  }
